.content-container{
   width: 100%;
   background-color: #fff;   
    padding: 20px 10px;
}

.content-header{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.content-body{
   margin-top: 20px;
   padding: 0 10px;
}

.no-todo{
    font-size: 1.2em;
    text-align: center;
    color: #a75697;
}