/*style header*/

.header{
    width: 100%;
    background-color: #a75697;    
    padding: 10px;
    margin-bottom: 10px; 
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.header h1{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}